* {
    box-sizing: border-box;
}

body {
    background-color: #2f383e;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.container {
    width: 990px;
    height: 304px;
    background-color: #4b565c;
    border-radius: 34px;
    border: 5px solid #a7c080;
    position: relative;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 0;
    left: 420px;
    color: #a7c080;
}

img {
    width: 350px;
    height: 100%;
}

#searchBar {
    position: absolute;
    width: 530px;
    top: 100px;
    left: 420px;
    background: none;
    border: none;
    border-bottom: 3px solid #7fbbb3;
    color: #d3c6aa;
    font-size: 20px;
    transition: .1s linear;
}

#searchBar:focus {
    border-bottom: 3px solid #dbbc7f;
    outline: none;
}

svg {
    position: absolute;
    top: 105px;
    left: 380px;
    stroke: #dbbc7f;
}

